body {
  text-align: center;
  padding-top: 100px;
  font-family: 'Arial', sans-serif;
  background-image: url('stars.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
}

#noBtn {
  position: relative;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}
